<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.whisper.browser"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        tools:replace="android:label"
        android:name="io.whisper.browser.WebBrowserApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_name}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.whisper.browser.AgentLoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.whisper.browser.WebBrowserActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.whisper.browser.ServerListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.whisper.browser.AddServerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.whisper.browser.ServerInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.whisper.browser.AgentInfoActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
